# Language/versions
language: node_js
node_js:
  - "node"
  - "6"
  - "8"
  - "10"
  - "12"

# Notifications
notifications:
 email:
   - notify+mail@tedeh.net

script:
  - npm test
  - npm run coveralls
